.allListingsMain {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.allListingsTitle {
    font-size: 32px;
}

.allListingsSection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 150px;
    justify-content: flex-start;
}